<app-header></app-header>
<!-- App Capsule -->
<div id="appCapsule">

    <div class="header-large-title">
        <h1 class="title">Welcome Kay!</h1>
    </div>


    <div class="container section mt-2 mb-2">
        <div class="row">
            <div class="col-lg-4 mt-2 mb-2">
                <div class="card comment-box">
                    <img src="assets/img/sample/avatar/avatar8.jpg" alt="avatar" class="imaged w64 rounded">
                    <h4 class="card-title">Carmelita Marsham</h4>
                </div>
            </div>
            <div class="col-lg-4 mt-2 mb-2">
                <div class="card comment-box">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <h4 class="card-title">Carmelita Marsham</h4>
                    
                </div>
            </div>
            <div class="col-lg-4 mt-2 mb-2">
                <div class="card comment-box">
                    <img src="assets/img/sample/avatar/avatar8.jpg" alt="avatar" class="imaged w64 rounded">
                    <h4 class="card-title">Carmelita Marsham</h4>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- * App Capsule -->
<app-footer></app-footer>
<app-sidebar></app-sidebar>